:root {
  --fundo: #000000;
  --card: #1a1a1a;
  --dourado: #c9a24d;
  --texto: #f1e9dc;
  --lilas: #cfc8fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--fundo);
  color: var(--texto);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

#logo{
  max-width: 6em;
}

.insta{
  max-width: 1.5em;
  border-radius: 20%;
}

/* Header */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--dourado);
}

.topbar h1 {
  font-family: 'Playfair Display', serif;
  color: var(--dourado);
  font-size: 1.4rem;
}

.social a {
  color: var(--texto);
  text-decoration: none;
  font-weight: 600;
}

/* Hero */
.hero {
  padding: 4rem 1.5rem;
  text-align: center;
}

.hero h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.2rem;
  color: var(--dourado);
}

.hero p {
  margin: 1rem 0 2rem;
  max-width: 500px;
  margin-inline: auto;
}

.btn {
  background: var(--lilas);
  color: #000;
  padding: 14px 30px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

/* Sections */
section {
  max-width: 1100px;
  margin: auto;
}

/* Catálogo */
.catalogo {
  padding: 3rem 1.5rem;
}

.catalogo h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: var(--dourado);
  margin-bottom: 2.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}

.card {
  background: var(--card);
  padding: 1.8rem;
  border-radius: 18px;
  border: 1px solid var(--dourado);
}

.card h3 {
  font-family: 'Playfair Display', serif;
  color: var(--dourado);
  margin-bottom: 1rem;
}

.card ul {
  list-style: none;
}

.card li {
  margin-bottom: 0.4rem;
  font-weight: 600;
}

/* ===== FORMULÁRIO ===== */
.agendamento {
  padding: 3rem 1.5rem;
  text-align: center;
}

.agendamento h2 {
  font-family: 'Playfair Display', serif;
  color: var(--dourado);
  margin-bottom: 2rem;
}

#formAgendamento {
  max-width: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#formAgendamento input,
#formAgendamento select,
#formAgendamento textarea {
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

#formAgendamento textarea {
  resize: none;
  min-height: 90px;
}


/* Avisos */
.avisos {
  padding: 3rem 1.5rem;
  text-align: center;
}

.avisos h2 {
  font-family: 'Playfair Display', serif;
  color: var(--dourado);
  margin-bottom: 1.2rem;
}

.avisos ul {
  list-style: none;
  max-width: 600px;
  margin: auto;
}

.avisos li {
  margin-bottom: 0.6rem;
  font-weight: 1000;
}


/* Footer */
footer {
  padding: 1.5rem;
  text-align: center;
  border-top: 1px solid var(--dourado);
}

footer a {
  color: var(--dourado);
  text-decoration: none;
  font-weight: 600;
}
